/* body {
  --dot-space: 30px;
  background: linear-gradient(
        90deg,
        var(--background) calc(var(--dot-space) - var(--primary)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--background) calc(var(--dot-space) - var(--primary)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--primary);
} */
.demo {
  view-transition-name: demo-title;
  width: fit-content;
}
